<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>eu.baerlin.mug</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/src/mug/mug.app/Contents/MacOS/mug</string>
        <string>--on-left-click</string>
        <string>osascript -e 'display notification "Full steam ahead" with title "mug"'</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/mug.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mug.err</string>
    <key>SessionType</key>
    <string>Aqua</string>
</dict>
</plist>
